@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap");

/* =========== Base =========== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}

body {
  overflow-x: hidden;
}

/* =========== Navbar =========== */
hr {
  border-color: #79777711;
  border-width: 0.1px;
}

.hr {
  margin-top: 5rem;
}

.ant-menu-horizontal > .ant-menu-item a {
  font-size: 14px;
}

.ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title {
  font-size: 14px;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  margin-top: 8px;
}

.ant-menu-overflow {
  display: flex;
  justify-content: flex-end;
  height: 4rem;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: none;
}

.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  border-bottom: none;
  transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: "";
}

.navbar {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* =========== Header Row =========== */

.alert {
  margin: 0 auto;
  text-align: center;
}

.ant-alert-message {
  font-size: 25px;
  font-weight: 600;
}

.ant-alert-info {
  height: 5rem;
}

.container {
  margin: 0 auto;
  padding: 2.5rem 5rem;
}

.search {
  width: 15rem;
  text-align: center;
  margin: 0 auto;
}

.breadcrumb {
  width: 15rem;
  text-align: center;
  margin: 0 auto;
}

.spin {
  text-align: center;
  font-size: 150px;
}

/* =========== Card Component =========== */

.ant-btn {
  transition: none;
}

.ant-divider-vertical {
  height: 1.5rem;
  border-left: 1px solid rgb(0 0 0 / 18%);
}

.ant-divider {
  border-top: 1px solid rgb(0 0 0 / 18%);
}

.ant-btn > span + .anticon {
  margin-left: 6px;
}

.ant-divider-horizontal {
  width: 85%;
  min-width: 80%;
  margin: 25px 0 5px 0;
}

.ant-card-body {
  padding: 20px 10px 8px 10px;
}

.ant-card-actions > li > span a:not(.ant-btn),
.ant-card-actions > li > span > .anticon {
  color: rgb(0 0 0);
}

.ant-btn > .anticon + span,
.btn {
  outline: none !important;
  border: none !important;
  font-weight: bold !important;
  letter-spacing: 1px;
}

.ant-btn-lg {
  padding: 6.4px 22px;
}

.card {
  cursor: auto !important;
  width: 18rem;
}

.card h3 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.699);
}

.card p {
  font-size: 15px;
  color: rgb(75, 2, 63);
  font-weight: bold;
  margin-top: 11px;
  margin-bottom: -7px;
}

.card img {
  height: 15rem;
}

/* =========== Home =========== */

.row-container {
  padding-top: 1.5rem;
}

/* =========== Card Detail =========== */

.card-detail-container {
  border: 1px solid rgba(43, 42, 42, 0.233);
  padding: 2rem;
}

.card-detail-img img {
  width: 25rem;
  height: 28rem;
  vertical-align: middle;
}

.price-tag {
  width: 16%;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}

.category-tag {
  margin-top: 1.5rem;
  color: rgb(173, 127, 42);
  padding: 10px 10px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-detail-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  padding: 10px 0;
}

.card-detail-content p {
  margin-top: 1.4rem;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

.card-detail-content button {
  width: 27%;
  height: 2.5rem;
  padding: 5px 0;
  font-size: 16px;
  letter-spacing: 1px;
}

.card-detail-content h1:first-child {
  font-weight: bold;
}

/* =========== Basket =========== */

.ant-alert-success {
  height: 5rem;
}

.ant-alert-message {
  font-size: 19px !important;
  letter-spacing: 1px;
}

.ant-alert-description {
  font-size: 16px !important;
  letter-spacing: 1px;
}

.ant-table-pagination.ant-pagination {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.ant-table-thead > tr > th {
  text-align: center;
}

.ant-table-tbody > tr > td {
  text-align: center;
}

/* =========== Footer =========== */

.footer-container {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.social-media a {
  color: rgba(36, 35, 35, 0.938);
}

.social-icon {
  margin: 0 0.5rem;
  cursor: pointer;
  transition: ease 0.3s color;
}

.social-icon:hover {
  color: #40a9ff;
}

.copy-right {
  text-align: center;
  margin-bottom: 0;
}

/* =========== Table =========== */

.table-container {
  padding: 2rem 10% 2rem 10%;
  height: 25rem;
  overflow: auto;
}

.table-col {
  display: flex;
  justify-content: center;
  height: 14rem;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 600px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

.pagination-show {
  display: inline;
  text-align: center;
  padding-top: 3.4rem;
}

.pagination-hidden {
  display: none;
}

/* =========== Media Query =========== */

@media only screen and (max-width: 480px) {
  .breadcrumb {
    padding-top: 1.3rem;
  }
  .card-detail-img img {
    width: 20rem;
    height: 20rem;
  }
  .card-detail-container {
    border: none;
    padding: 0;
  }
  .ant-col-xs-24:last-child {
    margin-top: 4rem;
  }
  .price-tag {
    width: 27%;
  }
  .card-detail-content button {
    width: 43%;
    height: 2.8rem;
    margin-top: 1rem;
  }
  table {
    min-width: 400px;
  }
  .table-col {
    height: 17rem;
  }
}

@media only screen and (max-width: 576px) {
  .card-detail-container {
    border: none;
    padding: 0;
  }
  .card-detail-img img {
    width: 26rem;
    height: 25rem;
  }
  .ant-col-xs-24:last-child {
    margin-top: 4rem;
  }
  .price-tag {
    width: 20%;
  }
  .card-detail-content button {
    width: 35%;
    height: 2.8rem;
    margin-top: 1rem;
  }
  table {
    min-width: 400px;
  }
  .table-col {
    height: 17rem;
  }
}

@media only screen and (max-width: 768px) {
  .card-detail-container {
    border: none;
    padding: 0;
  }
  .card-detail-img img {
    width: 38rem;
    height: 31rem;
  }
  .ant-col-xs-24:last-child {
    margin-top: 4rem;
  }
  .price-tag {
    width: 14%;
  }
  .card-detail-content button {
    width: 23%;
    height: 2.8rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .card-detail-img img {
    width: 21rem;
    height: 35rem;
  }
  .price-tag {
    width: 25%;
  }
  .card-detail-content button {
    width: 35%;
    height: 2.8rem;
  }
}
